input, input:focus {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid cornflowerblue;
}

li {
  list-style: none;
}

footer {
  /* stick to the bottom */
  position: fixed;
  bottom: 0;
  height: min-content;
}