
input, input:focus {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid cornflowerblue;
}

li {
  list-style: none;
}

textarea {
  width: 300px;
  height: 500px;
}

blockquote {
  border-left: 2px black;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

#intro { 
  margin-left: 25%;
  margin-right: 25%;
}

footer {
  /* stick to the bottom */
  position: fixed;
  bottom: 0;
  height: min-content;
}
