

body {
  display: flex;
  justify-content: center;
}

/*
body > * {
  border: 1px solid black;
}
*/

header {
  /* stick to the top */
  position: fixed;
  top: 0;
  height: min-content;
}

#content {
  position: fixed;
  top: 15%;
}

li {
  list-style: none;
}

.block {
  display: inline-block;
  vertical-align: top;
}

textarea {
  width: 300px;
  height: 500px;
}

blockquote {
  border-left: 2px black;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

#intro { 
  margin-left: 25%;
  margin-right: 25%;
}

footer {
  /* stick to the bottom */
  position: fixed;
  bottom: 0;
  height: min-content;
}

input, input[selected] {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid cornflowerblue;
}

textarea {
  border-left: 1px solid cornflowerblue;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}